:root {
    --main-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-color: white;
}

body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(https://source.unsplash.com/random/1920x1100/?summer);
    background-size: cover;
    height: 100vh;
    font-family: var(--main-font);
    color: var(--main-color);
}
.none {
    display: none;
}

/* login */

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login-input {
    padding: 0px;
    width: 100%;
    color: white;
    border-bottom: 3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 35px;
    text-align: center;
    background: transparent;
}

.login-btn {
    margin-top: 50px;
    width: 120px;
    height: 40px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
}

/* main */

.time-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.now-time {
    font-size: 150px;
    text-align: center;
}
.user-name {
    font-size: 50px;
    font-weight: 600;
    display: block;
    text-align: center;
}

/* focus */

.focus-container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.focus-h1 {
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}
.focus-input {
    padding: 0px;
    width: 100%;
    font-size: 35px;
    color: white;
    text-align: center;
    border-bottom: 3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
}
.focus-h2 {
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.focus-li {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: white;
}
.focus-del {
    align-self: flex-end;
    width: 60px;
    height: 25px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}
.navi-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wheather {
    font-size: 20px;
    line-height: 0.5;
}
.location {
    font-size: 25px;
}
.logout-btn {
    height: 40px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: transparent;
}

@media screen and (max-width: 768px) {
    .login-h1 {
        font-size: 20px;
    }
    .login-btn {
        margin-top: 50px;
        width: 40%;
        height: 30px;
        font-size: 10px;
        cursor: pointer;
        background: transparent;
    }
    .login-input {
        font-size: 25px;
    }

    .now-time {
        font-size: 80px;
    }
    .user-name {
        margin-top: 8px;
        font-size: 25px;
        font-weight: 600;
    }
    .focus-h1 {
        font-size: 20px;
        text-align: center;
    }
    .focus-input {
        font-size: 20px;
    }
    .focus-li {
        font-size: 20px;
        /* gap: 0px; */
    }
    .focus-del {
        border: none;
        font-size: 12px;
    }
    .wheather {
        font-size: 15px;
        line-height: 0.5;
    }
    .location {
        font-size: 20px;
    }
    .logout-btn {
        height: 30px;
        color: white;
        border: 2px solid white;
        font-size: 12px;
    }
    .focus-h2 {
        font-size: 16px;
    }
}